/* Style untuk header dan biodata */
.header {
    background-color: #007bff; /* Warna latar belakang biru */
    color: #fff; /* Warna teks putih */
    text-align: center;
    padding: 20px;
}

.biodata {
    text-align: left;
    padding: 10px;
    background-color: #fff; /* Warna latar belakang putih */
    border: 1px solid #ccc;
    margin-top: 10px;
}

/* Style untuk input dan tombol */
input[type="number"],
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007bff; /* Warna tombol biru */
    color: #fff; /* Warna teks tombol putih */
    cursor: pointer;
}

/* Style untuk kalkulator matematika */
.app-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #fff; /* Warna latar belakang putih */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Efek bayangan */
    border-radius: 10px; /* Sudut bulat */
    color: #007bff; /* Warna teks biru */
}

/* Style untuk hasil perhitungan */
p {
    margin-top: 10px;
    font-weight: bold;
    color: #000; /* Warna teks hitam */
    font-size: 18px; /* Ukuran teks hasil perhitungan */
}
