/* Style untuk container utama */
.app-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Warna latar belakang putih */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Efek bayangan */
    border-radius: 10px; /* Sudut bulat */
    color: #000; /* Warna teks hitam */
}

/* Style untuk judul */
h1 {
    text-align: center;
    color: #007bff; /* Warna teks judul */
}

/* Style untuk bagian */
.container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #ffffff; /* Warna latar belakang putih */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan */
    border-radius: 5px;
}

/* Style untuk label input */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold; /* Teks label menjadi tebal */
    color: #333; /* Warna teks label */
}

/* Style untuk input angka */
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Ukuran teks input */
}

/* Style untuk tombol */
button {
    background-color: #4CAF50; /* Warna hijau tua */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Style untuk hasil perhitungan */
p {
    margin-top: 10px;
    font-weight: bold;
    color: #000; /* Warna teks hitam */
    font-size: 18px; /* Ukuran teks hasil perhitungan */
}

/* Style untuk kotak pilihan */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Ukuran teks input */
}

/* Style untuk biodata */
.biodata {
    background-color: #ffffff; /* Warna latar belakang putih */
    color: #000; /* Warna teks hitam */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left; /* Rata kiri */
}
